﻿<div>
    <h3>
        <i class="fa fa-address-book"></i> Address Book Details
        <i class="fa fa-spinner fa-pulse fa-fw" data-bind="visible: isBusy"></i>
    </h3>
    <hr />

    <!--ko ifnot: showEditForm-->
    <div class="pull-right">
        <button class="btn btn-default" data-bind="click: toggleShowEditForm">Edit</button>
        <button class="btn btn-default" data-bind="click: $root.backToEntityList">Back</button>
    </div>
    <dl class="dl-horizontal" data-bind="with: entity">
        <dt>ReferenceNo</dt>
        <dd><span data-bind="text: ReferenceNo"></span></dd>
        <dt>CompanyName</dt>
        <dd><span data-bind="text: CompanyName"></span></dd>
        <dt>ContactPerson</dt>
        <dd><span data-bind="text: ContactPerson"></span></dd>
        <dt>Groups</dt>
        <dd>
            <ul class="list-inline" data-bind="foreach: Groups">
                <li><span data-bind="text: $data"></span></li>
            </ul>
        </dd>
        <dt>ContactInformation</dt>
        <dd>
            <ul class="list-unstyled" data-bind="with: ContactInformation">
                <li><span data-bind="text: Email"></span></li>
                <li><span data-bind="text: ContactNumber"></span></li>
                <li><span data-bind="text: AlternativeContactNumber"></span></li>
            </ul>
        </dd>
        <dt>Address</dt>
        <dd>
            <ul class="list-unstyled" data-bind="with: Address">
                <li><span data-bind="text: Address1"></span></li>
                <li><span data-bind="text: Address2"></span></li>
                <li><span data-bind="text: Address3"></span></li>
                <li><span data-bind="text: Address4"></span></li>
                <li><span data-bind="text: City"></span></li>
                <li><span data-bind="text: State"></span></li>
                <li><span data-bind="text: Country"></span></li>
                <li><span data-bind="text: Postcode"></span></li>
                <li>
                    <ul class="list-unstyled" data-bind="with: GeoLocation">
                        <li><span data-bind="text: Lat"></span></li>
                        <li><span data-bind="text: Long"></span></li>
                    </ul>
                </li>
            </ul>
        </dd>
        <dt>ProfilePictureUrl</dt>
        <dd><span data-bind="text: ProfilePictureUrl"></span></dd>
        <dt>UserId</dt>
        <dd><span data-bind="text: UserId"></span></dd>
    </dl>
    <!--/ko-->
    <!--ko if: showEditForm-->
    <form class="form-horizontal" data-bind="with: entity">
        <div class="form-group">
            <label class="col-md-2 control-label">ReferenceNo</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="ReferenceNo" data-bind="value: ReferenceNo" disabled />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">CompanyName</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="CompanyName" data-bind="value: CompanyName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">ContactPerson</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="ContactPerson" data-bind="value: ContactPerson" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Groups</label>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Groups" id="GroupsInput" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" data-bind="click: addChildItem(Groups, document.getElementById('GroupsInput').value)">Add</button>
                    </span>
                </div>
                <ul class="list-inline" data-bind="foreach: Groups">
                    <li>
                        <span data-bind="text: $data"></span>
                        <a class="btn btn-link" data-bind="click: $parent.removeChildItem($parent.Groups, $data)"><i class="fa fa-trash"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Address1</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Address1" data-bind="value: Address().Address1" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Address2</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Address2" data-bind="value: Address().Address2" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Address3</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Address3" data-bind="value: Address().Address3" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Address4</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Address4" data-bind="value: Address().Address4" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">City</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="City" data-bind="value: Address().City" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">State</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="State" data-bind="value: Address().State" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Country</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Country" data-bind="value: Address().Country" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Postcode</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Postcode" data-bind="value: Address().Postcode" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Long</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Long" data-bind="value: Address().GeoLocation().Long" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Lat</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Lat" data-bind="value: Address().GeoLocation().Lat" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">ProfilePictureUrl</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="ProfilePictureUrl" data-bind="value: ProfilePictureUrl" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">UserId</label>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="UserId" data-bind="value: UserId" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <!--ko ifnot: $root.id() === "0"-->
                <button class="btn btn-primary" data-bind="click: $root.editEntity">Edit</button>
                <button class="btn btn-default" data-bind="click: $root.toggleShowEditForm">Cancel</button>
                <!--/ko-->
                <!--ko if: $root.id() === "0"-->
                <button class="btn btn-primary" data-bind="click: $root.addEntity">Add</button>
                <button class="btn btn-default" data-bind="click: $root.backToEntityList">Back</button>
                <!--/ko-->
            </div>
        </div>
    </form>
    <!--/ko-->

    <hr />
</div>