﻿<div>
    <h3>
        <i class="fa fa-address-book"></i> Address Books
        <i class="fa fa-spinner fa-pulse fa-fw" data-bind="visible: isBusy"></i>
    </h3>
    <div class="pull-right">
        <form class="form-inline">
            <div class="btn-group" role="group" aria-label="Pager">
                <button class="btn btn-primary" title="Previous page" data-bind="click: pagerPrevPage, disable: !pagerPrev()"><i class="fa fa-arrow-circle-o-left"></i></button>
                <button class="btn btn-primary" title="First page" data-bind="click: pagerSelfPage, disable: !pagerSelf()"><i class="fa fa-stop-circle-o"></i></button>
                <button class="btn btn-primary" title="Next page" data-bind="click: pagerNextPage, disable: !pagerNext()"><i class="fa fa-arrow-circle-o-right"></i></button>
            </div>
            <select class="form-control" id="page-pager-size" data-bind="options: pagerAvailSize, value: pagerSize"></select>
        </form>
    </div>
    <p>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: list">
                <tr>
                    <td><span data-bind="text: ($root.pagerSize() * ($root.pagerPage() - 1)) + $index() + 1"></span>.</td>
                    <td><span data-bind="text: ContactPerson">name</span></td>
                    <td><span data-bind="text: ContactInformation.Email">email</span></td>
                </tr>
            </tbody>
        </table>
    </p>
</div>
